<a href="https://colab.research.google.com/github/Ararine/pythondemo/blob/main/02_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 [문제1]  
 if~else문을 이용해서 년도에 해당하는 띠를 구하는 프로그램을 구현하시오.  
 단, 년도은 input()으로 입력받음. 
 
   1. 12가지 띠  
      원숭이, 닭, 개, 돼지, 쥐, 소, 호랑이, 토끼, 용, 뱀, 말, 양  
   
   2. 띠구하는 공식  
     year%12의 결과가  
     0이면 "원숭이", 1이면 "닭"  2이면 "개",    3이면 "돼지",  
     4이면 "쥐",    5이면 "소", 6이면 "호랑이", 7이면 "토끼",  
     8이면 "용",    9이면 "뱀", 10이면 "말",   11이면 "양"  
     
   3. 출력결과  
     2012년도의 태생은  용띠입니다.

In [ ]:
year = int(input())
animal = ""
if year%12 == 0 :
 animal = "원숭이"
elif year%12 == 1 :
  animal = "닭"
elif year%12 == 2 :
  animal = "개"
elif year%12 == 3 :
  animal = "돼지"
elif year%12 == 4 :
  animal ="쥐"
elif year%12==5:
  animal="소"
elif year%12==6:
  animal="호랑이"
elif year%12==7:
  animal="토끼"
elif year%12==8:
  animal="용"
elif year%12==9:
  animal="뱀"
elif year%12==10:
  animal="말"
elif year%12==11:
  animal="양"
print('{0}년도의 태생은 {1}띠입니다.'.format(year,animal))

1992
1992년도의 태생은 원숭이띠입니다.

[문제2]   
for문을 이용해서  1부터 10까지 합계 구하기

In [ ]:
sum = 0
for i in range(1,11):
  sum += i
print(sum)

55

[문제3]  
for문을 이용해서 1부터 10까지  홀수, 짝수 합계 구하기

In [ ]:
even = 0
odd = 0

for i in range(1,11):
  if i%2==0:
    even += i
  elif i%2==1:
    odd += i
print("even:{0}, odd:{1}".format(even,odd))

even:30, odd:25

[문제4]  
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.  

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]  

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
a = [70,60,55,75,95,90,80,80,85,100]
sum =0
for i in a:
  sum += i
print(sum/len(a))

79.0

[문제5] 
중첩if를 이용하여 프로그램을 작성하시오.  
3과목의 점수를 입력받아서 "합격" 또는 "불합력"을  출력하시오.  
3개의 과목이 전부 40이상이어야 하고 평균이 60이어야 "합격" 출력  
평균이 60이 넘지만 1개의 과목이라도 40 미만이면 "과락으로 불합격" 출력  
평균이 60미만이면 "불합격" 출력 

[실행결과1]  
국어점수입력 : 75  
영어점수입력 : 80  
수학점수입력 : 100  
 합격을 축하합니다.  


[실행결과2]
국어점수입력 : 95  
영어점수입력 : 80  
수학점수입력 : 38  
과락으로 불합격입니다.  
  
[실행결과3]  
국어점수입력 : 32  
영어점수입력 : 40  
수학점수입력 : 22  
불합격입니다.

In [ ]:
kor = int(input())
eng = int(input())
mat = int(input())

jumsu = [kor, eng, mat]
avg = (jumsu[0] + jumsu[1] +jumsu[2])/len(jumsu)
result = ""

if avg < 60:
  result="불합격"
elif jumsu[0] < 40 or jumsu[1] <40 or jumsu[2] <40:
  result="과락으로 불합격"
elif jumsu[0] >= 40 and jumsu[1] >= 40 and jumsu[2] >= 40:
  result="합격"
print('{0}입니다.'.format(result))

60
55
50
불합격입니다.