<a href="https://colab.research.google.com/github/Ararine/pythondemo/blob/main/python_03_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
if a>3 :
  print('Yes')
else:
  print('No')

No

In [ ]:
if a>0:
  print('Yes')
  print('Ok')
else :
  print('No')

Yes
Ok

In [ ]:
# jumsu가 80이상 '상', 80미만 60이상 '중', 60미만 '하'
jumsu =55

if jumsu >= 80:
  print('상')
elif jumsu >= 60:
  print('중')
else :
  print('하')

하

### existance
  - python에서 조건은 존재론(existance)적이다. -> truthy, falsy

#### 0은 숫자가 없는 것과 같음 -> falsy

In [ ]:
a = 0.0
if a:
  print('Yes')
else :
  print("No")

No

#### None은 객체가 없는 것과 같음 -> falsy

In [ ]:
a = None
if a:
  print('Yes')
else :
  print('No')

No

#### 비어 있는 dict은 없는 것과 같음 -> falsy

In [ ]:
a = {}
if a:
  print("Yes")
else :
  print('No')

No

#### 인스턴스 방식으로 값을 만들 때 괄호 안이 비어 있으면 비어 있는 값을 만든다.
#### if에서 모두 false이다.

In [ ]:
a = int()
b = float()
c = complex()
d = list()

In [ ]:
a = int()
if a :
  print('Yes')
else :
  print('No')

No

In [ ]:
b = float()
if b :
  print('Yes')
else :
  print('No')

No

In [ ]:
c = complex()
if c :
  print('Yes')
else :
  print('No')

No

In [ ]:
d = list()
if d :
  print('Yes')
else :
  print('No')

No

In [ ]:
3<2 or 4<5

True

In [ ]:
# and는 앞이 True이면 뒤에 값을 반환한다.
# 3은 존재론적으로 True
3 and 4

4

In [ ]:
# and는 앞이 False이면 앞에 값을 반환한다.
# 비어 있는 문자열은 없는 것과 같은 -> falsy
"" and 4

''

In [ ]:
# or는 and의 반대
# 앞이 True이면 앞, 앞이 false이면 뒤의 값을 반환한다.
3 or 4

3

In [ ]:
"" or 4

4

In [ ]:
# if 조건에 문장을 사용할 수 없다.
if a=4:
  print("Yes")
else :
  print("No")

#### for문

In [ ]:
for v in [1,2,3,4,5]: # javascript 와의 for ~ of 문과 동일하다. 다르니 주의
  print(v)

1
2
3
4
5

In [ ]:
for v in 'python':
  print(v)

p
y
t
h
o
n

In [ ]:
t=[('one',1),('two',2)]
for k, v in t:
  print('{0}:{1}'.format(k,v))

one:1
two:2

In [ ]:
dic={'a':1, 'b':2}
for k in dic:
  print('{0}:{1}'.format(k,dic[k]))

a:1
b:2

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
print(len(dir(dict)), len(dir(dic)))

41 41

In [ ]:
dic.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

In [ ]:
dict.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

### 반복문
  - 반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.
  - 대부분의 프로그래밍 언어는 while과 for을 지원한다.

In [ ]:
#   아래는 while문이 완벽히 돌았으므로 end가 출련된다.

a = 20

while a>10:
  a -= 1
  print(a)
else:
  print('end')

19
18
17
16
15
14
13
12
11
10
end

In [ ]:
# break는 반복문을 중단시킨다.
# break가 실행되면 반복문이 완벽하게 실행된 것이 아니므로 else가 실행되지 않는다.

a = 10

while a>1 :
  a-=1
  if a==5:
    break # 중단
  print(a)
else:
  print('end')

9
8
7
6

In [ ]:
# continue는 다음 루프로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.

a = 10
while a>1:
  a-=1
  if a==5:
    continue
  print(a)
else:
  print('end')

9
8
7
6
4
3
2
1
end

#### 범위를 지정하는 방법에는 두 가지가 있다.  
  - 두 번째 방법은 변수 자체를 출력하는 방법이다.  
  - for 변수 in range(시작번호, 마지막 번호, 증가값)

#### range 함수
  - range(start, stop, step)함수는 주로 for문과 같이 사용된다.
  - range(start, stop, step)함수는 숫자범위에 대하여 반복을 하거나 특정한 범위의 숫자를 나열하도록 해주는 특별한 함수이다.
  - range 함수를 사용하는 형식은 선택사항인 시작값(start), 종료값(stop), 증감분(step)이다.
  - range(0,10,2) => 0,2,4,6,8
    0부터 시작하여 2의 간격으로 10에 미만까지의 정수

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

#### for문과 함께 사용되는 함수
- enumerate 함수
  - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀 더 효율적으로 사용하기 위한 함수이다.
  - enumerate()함수는 순서자료형(리스트,튜플,문자열)을 입력으로 받아 인덱스를 포함하는 enumerate객체를 리턴한다.
  - enumerate([순서자료형],[시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한객체가 입력되고 시작값은 입력시 해당수부터 증가하며, 생략했을 경우 기본값은 0이다.

In [ ]:
for k, v in enumerate(['apple','python','microsoft']):
  print('{0}:{1}'.format(k,v))

0:apple
1:python
2:microsoft

In [ ]:
for j in enumerate(['apple','python','microsoft'], 1):
  print('{0}'.format(j))

(1, 'apple')
(2, 'python')
(3, 'microsoft')

  - zip 함수  
    - 매개 인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']

for x,y in zip(a,b):
  print(x,y)
  t=x,y
print(type(t))

1 a
2 b
3 c
4 d
5 e
<class 'tuple'>

  - items 함수
    - dict의 내장함수로 키와 값을 동시에 검색한다.

In [ ]:
dic = {'애플':'www.apple.com', '파이썬':'www.python.org'}
for k, v in dic.items():
  print('{0}:{1}'.format(k,v))
  m = k,v
print(type(m))

애플:www.apple.com
파이썬:www.python.org
<class 'tuple'>

1. for ~ in iterable
2. for ~ in range() 
3. for ~ in enumerate() #인덱스와 밸류값
4. for ~ in zip(a,b) # 값을 묶을 때 사용
5. for ~ in dict.items() # 키와 벨류값

### 예외(Exception)
  - 프로그램을 수행하다 보면 문법적으로 문제가 없는 코드를 실행하는 중에 더 이상 진행할 수 없는 상황이 발생하는 경우를 의미한다.
  - 모든 예외는 클래스로 표현되며 최상위 클래스는 BaseException클래스이다.
  - 예외 상황
    - 0으로 숫자 나누기
    - 문자열과 숫자 더하기
    - 참조 범위를 넘어서 인덱스 참조하기
    - 등록되어 있지 않은 키로 사전 검색하기

  - 예외 상황
    - 나누기 연산에서 ZeroDivisionError 에러 발생

In [ ]:
a, b = 5, 0
c = a/b
print(c)

ZeroDivisionError: ignored

    - 정의되지 않은 변수를 사용하면 NameError 에러 발생

In [ ]:
4 + spam*3

NameError: ignored

    - 숫자가 아닌 데이터를 int로 변형할 때 ValueError 에러 발생

In [ ]:
int(3)**int('abc')

ValueError: ignored

    - 연산 중에 인수의 타입이 맞지 않으면 TypeError 에러 발생

In [ ]:
'2' + 2

TypeError: ignored

[exception](https://python.bakyeono.net/chapter-9-4.html)
![exception](https://python.bakyeono.net/img/img-9-4.png)

### 예외처리(Exception Handling)
  - 예외처리란 예외가 발생했을 때 프로그램이 정상적으로 종료될 수 있도록 예외가 발생되는 곳에서 해주는 기능이다.
  - 형식  
  try:
    <예외가 발생될 가능성이 있는 문장>  
  except[발생오류[as 오류 메시지 변수]]:  
    <예외가 발생했을 때 실행되는 문장>  
  Else:  
    <예외가 발생하지 않았을 때 실행되는 문장>  
  finally:  
    <예외 발생 여부에 상관없이 무조건 실행되는 문장>

In [ ]:
# try ~ except

def divide(x,y):
  return x/y

try:
  result=divide(1,0)
except ZeroDivisionError:
  print("분모는 0이면 안됨")
else:
  print(result)
finally:
  print("문제풀이 끝")

분모는 0이면 안됨
문제풀이 끝

    - try ~ except  
      try 절 안에 문제가 발생할 가능성이 있는 코드 블록을 배치하고  
      except 절에는 문제가 생겼ㅇ르 때 뒤처리를 하는 코드 블록 배치  
    try:  
      # 문제가 발생할 가능성이 있는 코드  
    except:  
      # 문제가 생겼을 때 실행할 코드

  - 복수개의 except  
    - try 블록 안에서 여러 종류의 예외가 발생하는 경우에 사용

In [ ]:
try:  
   # 문제가 발생할 가능성이 있는 코드  
except 예외형식1:  
   # 문제가 생겼을 때 실행할 코드  
except 예외형식2:  
   # 문제가 생겼을 때 실행할 코드

In [ ]:
my_list = [1,2,3]

try:
  print("첨자를 입력하세요:")
  index=int(input())
  print(my_list[index]/0)
except ZeroDivisionError:
  print("0으로 나눌 수 없습니다.")
except IndexError:
  print("잘못된 첨자입니다.")

첨자를 입력하세요:
2
0으로 나눌 수 없습니다.

  - 예외의 인스턴스를 활용하는 방법 : as 문 사용

In [ ]:
try:
  # 문제가 없을 경우 실행할 코드
except 예외형식1 as err:
  # 문제가 생겼을 때 실행할 코드
except 예외형식2 as err:
  # 문제가 생겼을 때 실행할 코드

In [ ]:
my_list = [1,2,3]

try:
  print("첨자를 입력하세요:")
  index = int(input())
  print(my_list[index]/0)
except ZeroDivisionError as err:
  print('0으로 나눌 수 없습니다. ({0})'.format(err))
except IndexError as err:
  print('잘못된 첨자입니다. ({0})'.format(err))

첨자를 입력하세요:
3
잘못된 첨자입니다. (list index out of range)

 - try ~ except ~ else
  - try와 함께 사용하는 else절은 try절에 있는 코드블록 실행 중에 아무런 예외가 일어나지 않으면 실행됨.

In [ ]:
try:
  # 실행할 코드블럭
except:
  # 예외 처리 코드블럭
else:
  # except절을 만나지 않았을 경우 실행하는 코드블럭

  - try ~ except ~ else

In [ ]:
my_list = [1,2,3]

try:
  print('첨자를 입력하세요:')
  index = int(input())
  print('my_list[{0}]: {1}'.format(index, my_list[index]))
except IndexError as err:
  print('잘못된 첨자입니다. ({0})'.format(err))
else:
  print("리스트의 요소 출력에 성공했습니다.")

첨자를 입력하세요:
3
잘못된 첨자입니다. (list index out of range)

  - raise
    - raise은 프로그래머가 의도적으로 예외를 발생시켜야 하는 경우에 사용한다.
      raise구문은 해당 예외를 단순히 발생시키거나 예외 발생시 필요한 정보를 같이
      전달하기 위하여 인자로 넘겨줄 수 있다.
      또한 예외를 상위에서 처리하도록 그대로 전달할 수도 있다.
      raise 구문의 예외로 올 수 있는 것으로 내장예외와 사용자정의 예외가 있다.

In [ ]:
raise [Exception] #해당 예외를 발생함
raise [Exception(data)] #예외를 발생시 관련 데이터를 전달함
raise #발생된 예외를 상위로 전달함

In [ ]:
# raise

def RaiseErrorFunc():
  raise NameError("NameError의 인자")

def PropagateError():
  try:
    RaiseErrorFunc()
  except:
    print("에러전달 이전에 먼저 이 메시지가 출력됨")
  raise

PropagateError()

에러전달 이전에 먼저 이 메시지가 출력됨

RuntimeError: ignored

In [ ]:
# raise

def RaiseErrorFunc():
  raise NameError("NameError의 인자")

def PropagateError():
  try:
    RaiseErrorFunc()
  except:
    print("에러전달 이전에 먼저 이 메시지가 출력됨")
  raise
try:
  PropagateError()
except Exception as err:
    print('{0} 예외가 발생했습니다.'.format(err))

에러전달 이전에 먼저 이 메시지가 출력됨
No active exception to reraise 예외가 발생했습니다.